root = true

[*]
charset                  = utf-8
trim_trailing_whitespace = true
end_of_line              = lf
insert_final_newline     = true
ij_visual_guides         = 80, 120

[*.{php, yml, yaml, neon, xml, xsl, json, twig}]
indent_size  = 2
indent_style = space

[version.txt]
insert_final_newline = false
